{{!-- 類別下拉器 --}}
<div class="container d-flex justify-content-center mb-3">
  <form action="/records/filter">
    <select class="selectpicker" id="category" name="category">
      <option selected value="">類別</option>
      <option value="家居物業" {{#if home}}selected{{/if}}>家居物業</option>
      <option value="交通出行" {{#if transportation}}selected{{/if}}>交通出行</option>
      <option value="休閒娛樂" {{#if entertainment}}selected{{/if}}>休閒娛樂</option>
      <option value="餐飲食品" {{#if food}}selected{{/if}}>餐飲食品</option>
      <option value="其他" {{#if other}}selected{{/if}}>其他</option>
    </select>
    <button type="submit" class="btn btn-dark">搜尋</button>
  </form>
</div>
{{!-- 總金額顯示 --}}
<div class="totalMoney d-flex justify-content-center">
  <span>總金額</span>
  <p class="totalAmount">{{total records}}</p>
</div>
{{!-- 分錄 --}}
{{#each records}}
  <ul class="list-group-flush list-group-horizontal d-flex justify-content-center">
    <li class="list-group-item">
      {{#if (eq this.category '家居物業')}}
        <i class='fas fa-home'></i>
      {{/if}}
      {{#if (eq this.category '交通出行')}}
        <i class='fas fa-shuttle-van'></i>
      {{/if}}
      {{#if (eq this.category '休閒娛樂')}}
        <i class='fas fa-grin-beam'></i>
      {{/if}}
      {{#if (eq this.category '餐飲食品')}}
        <i class='fas fa-utensils'></i>
      {{/if}}
      {{#if (eq this.category '其他')}}
        <i class='fas fa-pen'></i>
      {{/if}}
    </li>
    <li class="list-group-item d-flex">
      <div>
        <p class="name">{{this.name}}</p>
        <p class="date">{{dateFormate this.date}}</p>
      </div>
      <p class="amount">{{this.amount}}</p>
    </li>
    <li class="list-group-item">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/records/{{ this._id }}/edit">
          <button type="button" class="btn btn-primary">修改</button>
        </a>
        <form action="./records/{{ this._id }}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-primary">刪除</button>
        </form>
      </div>
    </li>
  </ul>
{{/each }}
<a href="./records/new" class="d-flex justify-content-center">
  <button type="button" class="btn btn-primary">新增支出</button>
</a>