<div class="title d-flex justify-content-center">
  <p>*為必填欄位</p>
  <p>請輸入你的支出</p>
</div>
<div class="container">
  <form action="/records" method="POST">
    <div class="form-group">
      <label for="name">名稱*：</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name" required>
    </div>
    <div class="form-group">
      <label for="date">日期*：</label>
      <input type="date" class="form-control" id="date" name='date' required>
    </div>
    <div class="form-group">
      <label for="category">類別*：</label>
      <select class="custom-select" name='category' required>
        <option selected value="">選擇您的支出類別</option>
        {{#each categories}}
          {{#if (eq this.category '家居物業')}}
            <option value="{{this._id}}">{{this.category}}</option>
          {{/if}}
          {{#if (eq this.category '交通出行')}}
            <option value="{{this._id}}">{{this.category}}</option>
          {{/if}}
          {{#if (eq this.category '休閒娛樂')}}
            <option value="{{this._id}}">{{this.category}}</option>
          {{/if}}
          {{#if (eq this.category '餐飲食品')}}
            <option value="{{this._id}}">{{this.category}}</option>
          {{/if}}
          {{#if (eq this.category '其他')}}
            <option value="{{this._id}}">{{this.category}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="amount">金額*：</label>
      <input type="number" class="form-control" id="amount" name="amount" required min="0">
    </div>
    <button type="submit" class="btn btn-primary">新增支出</button>
  </form>
</div>